DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USERNAME=root
DATABASE_PASSWORD=password

REDIS_URL=redis://127.0.0.1:6379/0
REDIS_POOL_SIZE=5
REDIS_POOL_TIMEOUT=3
REDIS_CONNECT_TIMEOUT=1
REDIS_READ_TIMEOUT=1
REDIS_WRITE_TIMEOUT=1

SIDEKIQ_REDIS_URL=redis://127.0.0.1:6379/1
SIDEKIQ_SERVER_POOL_SIZE=10
SIDEKIQ_CLIENT_POOL_SIZE=5
SIDEKIQ_POOL_TIMEOUT=3
SIDEKIQ_NETWORK_TIMEOUT=3

RAILS_MAX_THREADS=3
WEB_CONCURRENCY=1

JWT_SECRET_KEY=29f67dc720cf959cbcba68a27065490a35a9d6cd9033e8dbbe66a7ab2fe675ef
